.btn {
    font-size: 20px;
    padding: 0.8em 1em;
    border-radius: 0.1em;
    border: none;
    background-color: var(--secondary-color);
    color: whitesmoke;
    cursor: grab;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}