/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLES BELOW THIS COMMENT; FOR THIS PAGE */

/* HERO:start */
.hero {
    padding-bottom: 30px;
    background-image: url(../../img/coomingsoon.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero > .row-short {
    text-align: center;
}

.hero .logo {
    margin-bottom: 45px;
    height: 40px;
    width: 100%;
    object-fit: contain;

}

.hero .main-title {
    font-size: 37px ;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero .main-description {
    margin-bottom: 30px;
    font-size: 17px;
    color: gray;
}

.hero .clock {
    margin-bottom: 45px;
}

.hero .form {
    margin-bottom: 15px;
}

/* HERO:end */


/* MAIN CONTENT:start */
.column > * {
    margin-bottom: 20px;
}

.column > *:last-child {
    margin-bottom: 0;
}

.content-title {
text-transform: uppercase;
font-size: 20px;
line-height: 1em;
}

.content-description {
    font-size: 15px;
    color: #999;
}

.content-description > .link {
    color: var(--secondary-color);
    text-decoration: none;
}

/* MAIN CONTENT:end */

/* FOOTER:start */
/* FOOTER:end */